<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="First.TestSelenium.NewTest">
          <methods>
                    <include name="f" />
          </methods>
      </class>
          
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
